<h3 class="app-title -sm mb-2">
    Relatório de @Report.Person.Name
</h3>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem;" class="mb-5">

    <div class="app-card">
        <h4 class="app-title -sm mb-2">Gasto Total</h4>
        <p class="app-text -bold -lg">@Report.TotalSpent.ToString("C")</p>
    </div>

    <div class="app-card">
        <h4 class="app-title -sm mb-2">Balanço Total</h4>
        <div style="display: flex; gap: 0.25rem; align-items: center">
            <p class="app-text -bold -lg @GetAmountClass(Report.Balance)">
                @decimal.Abs(Report.Balance).ToString("C")
            </p>
            <span class="app-text -sm -italic @GetAmountClass(Report.Balance)">
                (@GetAmountStatus(Report.Balance))
            </span>
        </div>
    </div>

    <div class="app-card">
        <h4 class="app-title -sm mb-2">Total de Lançamentos</h4>
        <p class="app-text -bold -lg">
            @Report.Transactions.Count
        </p>
    </div>
</div>


@if (Report.Transactions.Count > 0)
{
    <AppReportCardExpenses
        Report="Report"
        OnDetailTransaction="@((a) => OnDetailTransaction.InvokeAsync(a))"/>   
}


<h4 class="app-title -sm mb-2">Balanços de @Report.Person.Name</h4>

<ul style="display: flex; flex-direction: column; gap: 0.5rem;
border-top: 1px solid oklch(from var(--app-sys-color-primary) l c h / 20%);
border-bottom: 1px solid oklch(from var(--app-sys-color-primary) l c h / 20%);">
    @foreach (var personReport in Report.ReportPayers)
    {
        <AppReportCardPerson
            @key="personReport.PersonToPay.Id"
            Payer="personReport"
            OnDetailTransaction="@((a) => OnDetailTransaction.InvokeAsync(a))"/>
    }
</ul>