<div class="app-card" style="display: flex; flex-direction: column; gap: 2rem">
    <div style="grid-column: 1/3; display: grid; grid-template-columns: 1fr auto auto; gap: 2rem; align-items: center">
        <h2 class="app-title">@Report.Person.Name</h2>

        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
            <span class="app-text -bold">Gasto Total</span>
            <span class="app-text -bold -lg">@Report.TotalSpent.ToString("C")</span>
        </div>

        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
            <span class="app-text -bold">Balanço Total</span>
            <div style="display: flex; align-items: center; gap: 0.25rem;">
                <span
                    class="app-text -bold -lg @GetAmountClass(Report.Balance)">
                    @decimal.Abs(Report.Balance).ToString("C")
                </span>
                <span class="app-text -sm  @GetAmountClass(Report.Balance)"
                      style="font-style: italic; line-height: var(--sys-typescale-body-lg-line-height)">
                    (@GetAmountStatus(Report.Balance))
                </span>
            </div>
        </div>

    </div>

    <AppReportCartSummary
        Report="Report"
        OnDetailTransaction="@((a) => OnDetailTransaction.InvokeAsync(a))"/>

    <div>
        <h4 class="app-text -bold">Balanços</h4>

        <ul style="display: flex; flex-direction: column; gap: 0.5rem;
border-top: 1px solid oklch(from var(--app-sys-color-primary) l c h / 20%);
border-bottom: 1px solid oklch(from var(--app-sys-color-primary) l c h / 20%);">
            @foreach (var personReport in Report.TransactionShares)
            {
                <AppReportCardPerson
                    @key="personReport.PersonToPay.Id"
                    Payer="personReport"
                    OnDetailTransaction="@((a) => OnDetailTransaction.InvokeAsync(a))"/>
            }
        </ul>
    </div>

</div>