<div class="mb-5">
    <h3 class="app-title -sm mb-2">Contas de @Report.Person.Name</h3>
    
    <table class="app-table is-striped">
        <thead>
        <tr>
            <th style="width: 24px"></th>
            <th>Nome</th>
            <th style="width: 160px">Valor Total</th>
            <th style="width: 240px">Valor Dividido</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in PersonTransactions)
        {
            <tr>
                <td><i class="ph @item.Category.Logo"></i></td>
                <td @onclick="@(() => OnDetailTransaction.InvokeAsync(item))">@item.Name</td>
                <td>@item.Amount.ToString("C")</td>
                <td>@(SharedAmount(item).ToString("C")) / pessoa</td>
            </tr>
        }
        </tbody>
    </table>

</div>