<div class="app-card" style="display: flex; flex-direction: column; gap: 2rem">
    <div style="display: flex; flex-direction: column; gap: 1rem">
        <h2 class="app-title">@Report.Person.Name</h2>

        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
            <span class="app-text -bold">Gasto Total</span>
            <span
                class="app-text -bold -lg">@Report.TotalSpent.ToString("C")</span>
        </div>

        <ul class="app-card" style="display: flex; flex-direction: column; gap: 0.25rem">
            @foreach (var item in PersonTransactions)
            {
                <li class="app-text -sm" @key="item.Transaction.Id" style="display: grid; grid-template-columns: 1fr 12rem 12rem; gap: 1rem;">
                    <span>@item.Transaction.Name</span>
                    <span>Total: &nbsp; @item.Transaction.Amount.ToString("C")</span>
                    <span class="app-text -sm -italic">
                        (@item.ShareAmount.ToString("C") / pessoa)
                    </span>
                </li>
            }
        </ul>

    </div>

    <div style="width: 100%; height: 2px; background: oklch(from var(--ds-sys-color-primary) l c h / 20%)"></div>

    <div>
        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
            <span class="app-text -bold">Balanço Total</span>
            <div style="display: flex; align-items: center; gap: 0.25rem; margin-bottom: 1rem">
                <span
                    class="app-text -bold -lg @GetAmountClass(Report.Balance)">
                    @decimal.Abs(Report.Balance).ToString("C")
                </span>
                <span class="app-text -sm  @GetAmountClass(Report.Balance)"
                      style="font-style: italic; line-height: var(--sys-typescale-body-lg-line-height)">
                    (@GetAmountStatus(Report.Balance))
                </span>
            </div>
        </div>

        <ul style="display: flex; flex-direction: column; gap: 0.25rem;">
            @foreach (var personReport in Report.TransactionShares)
            {
                <AppReportCardPerson Payer="personReport"
                                     @key="personReport.PersonToPay.Id"/>
            }
        </ul>
    </div>

</div>