<div class="app-transaction-detail">
    <div style="display: flex; justify-content: space-between; align-items: center">
        <h2 class="app-title" style="line-height: 1">
            @Transaction.Name
        </h2>
        <button class="app-icon-button" type="button" @onclick="@(() => OnClose.InvokeAsync())">
            <i class="ph ph-x"></i>
        </button>
    </div>


    <div style="display: flex; flex-direction: column; gap: 1rem;">


        <div style="display: flex; flex-direction: column; gap: 0.25rem">
            <p class="app-text -sm -bold">Valor total</p>
            <p class="app-text -lg">@Transaction.Amount.ToString("C")</p>
        </div>

        <div style="display: flex; flex-direction: column; gap: 0.25rem">
            <p class="app-text -sm -bold">Pago por</p>
            <p class="app-text -lg">@Transaction.Payer.Name</p>
        </div>

        <div style="display: flex; flex-direction: column; gap: 0.25rem">
            <p class="app-text -sm -bold">Categoria</p>
            <p class="app-text -lg">
                <span>@Transaction.Category.Name</span>
                <i class="ph @Transaction.Category.Logo"></i>
            </p>
        </div>


        <div>
            <p class="app-text -sm -bold">
                @SharedTitle()
            </p>
            <div
                style="display: flex; flex-direction: column; gap: 0.25rem; margin-top: 0.25rem">
                @foreach (var item in Transaction.Shared)
                {
                    <p @key="item.Id" class="app-text -lg @(() => item.Id == Transaction.Payer.Id ? "-bold" : "")">
                        @item.Name
                    </p>
                }
            </div>

        </div>

        <div style="display: flex; flex-direction: column; gap: 0.25rem">
            <p class="app-text -sm -bold">
                @(Transaction.Shared.Count() > 0 ? "Valor dividido" : "Valor pago")
            </p>
            <p class="app-text -lg">@SharedAmount.ToString("C")</p>
        </div>
    </div>

</div>