<div @ref="_popoverTarget"
     style="position-anchor: @_uniqueId"
     id="@_uniqueId"
     popover="auto"
     class="select-category-icon-grid"
     role="radiogroup"
     aria-label="Seleção de icones da categoria"
     @ontoggle="OnTogglePopover"
     @onkeydown="OnKeyDown">
    @foreach (var item in AvailableIcons)
    {
        <label class="select-category-icon">
            <input type="radio"
                   name="@GroupName"
                   checked="@(Value == item)"
                   @onchange="@(() => OnIconSelected(item))"
                   autofocus="@(Value == item || (string.IsNullOrEmpty(Value) && item == AvailableIcons[0]))"/>
            <i class="ph @item" aria-hidden="true"></i>
        </label>
    }
</div>

<button @ref="_buttonRef"
        popovertarget="@_uniqueId"
        style="anchor-name: @_uniqueId"
        aria-haspopup="true"
        type="button"
        class="select-category-button">
    @if (!string.IsNullOrEmpty(Value))
    {
        <i class="ph @Value"></i>
    }
    else
    {
        <i class="ph ph-empty" style="opacity: 0.4"></i>
    }
</button>